.exem{
    
    background-color: rgb(3, 94, 89);
    text-align: center;
    font-size: 80px;
    height: 200px;
    padding-top:30px;
    vertical-align: middle;
    color:#ffff;

}

.kfc{
    
   
    padding-top:30px;
    

}

.botao_inserir{
    padding-top:80px;  
}